/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: white;
}

.mainContainer{

   
    height: fit-content;
    width: 100%;
    max-width: 60%;
    margin: auto;
    padding: 20px 7px ;
    display: flex;
    flex-direction: column;
    background-color: rgb(102, 94, 81);
    border-radius: 10px;
    gap: 20px;
}
.inputContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    input{
        width: 80%;
        padding: 10px 15px ;
        border-radius: 5px;
        border: none;
        outline: none;
    }
}
.inputContainer .addBtn{
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    background-color: rgb(0, 0, 0);
    color: white;
    cursor: pointer;
}
.todoContainer{
   
    display: flex;
    flex-direction: column;
    gap: 20px;
  
   
}
.todo{
     background-color: brown;
    padding: 12px 10px;
    border-radius: 5px;
}
.todoContainer .todo{
    display: flex;
    justify-content: space-between;
    align-items: center;

} 
    
 .editBtn, .deleteBtn {
    padding: 10px 17px;
    border-radius: 5px;
    border: none;
    background-color: rgb(156, 114, 114);
    color: white;
    cursor: pointer;
}
 */
